@font-face {
  font-family: 'PT Sans Normal';
  src: url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: 800;
  font-style: bold;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* *:focus {
  outline: 0;
  box-shadow: inset 0 0 0 3px #eb1;
} */

body {
  margin: 0;
  font-family: 'PT Sans Normal', 'Arial', 'Helvetica', serif;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: none;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1056px;
}

.page {
  position: relative;
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px 4px #dbdbdb;
  background-color: rgb(242, 242, 242);
}

.page__header {
  position: relative;
}

/* --- header ---*/

.header {
  background-color: #fff;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header__nav {
  min-height: 56px;
}

/* --- header ---*/

/* --- nav --- */

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  list-style: none;
}

.nav__item:focus {
  outline: 0;
}

.nav__item:nth-child(2) {
  margin-right: auto;
}

.nav__item:nth-child(3) {
  margin-left: auto;
}

.nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans Bold';
  margin: 0 70px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.nav__link--left-padding {
  padding-left: 0;
  margin-left: 0;
}

.nav__link--right-padding {
  padding-right: 0;
  margin-right: 0;
}

.nav__link:hover {
  color: #81b3d2;
}

.nav__link--current {
  color: #766357;
}

/* --- nav --- */

/* --- main --- */

.main {
  background-color: #fff;
}

/* --- main --- */

/* --- intro --- */

.intro__pic {
  position: relative;
  width: 100%;
  height: 573px;
  background-image: url(../img/welcome.png), url(../img/polygon.png), url(../img/sedona.jpg);
  background-repeat: no-repeat;
  background-size: 459px 353px, contain, cover;
  background-position: center 77px, center bottom -1px, 0 -55px;
}

/*/ --- intro --- */

/* --- features --- */

.main__features {
  margin-top: 61px;
}

.features__text {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  font-size: inherit;
  line-height: 20px;
}

.features__text.features__text--big {
  font-family: 'PT Sans Bold';
  line-height: 31px;
  font-size: 21px;
  z-index: 10;
}

.features__text, .features__text--narrow {
  font-family: 'PT Sans Normal';
  font-size: inherit;
}

.features__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;
}

.features__list::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 277px;
  background-color: #eeeeee;
  z-index: 0;
}

.features__item {
  width: 100%;
}


 .features__item--type-1 {
  display: flex;
}

.features__item--type-1 .features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color: #81b3d2;
}

.features__item--type-1  .features__title {
  font-family: 'PT Sans Bold';
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
}

.features__item--type-1 .features__number {
  position: relative;
  color: #fff;
  padding: 0 20px;
}

.features__item--type-1 .features__number::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 9px;
  height: 2px;
  background-color: #fff;
}

.features__item--type-1 .features__number::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 9px;
  height: 2px;
  background-color: #fff;
}

.features__item--type-1 .features__text {
  font-family: 'PT Sans Normal';
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
}

.features__item--type-1 .features__img {
  display: block;
}

.features__item--type-2  {
  position: relative;
  padding-top: 155px;
  padding-bottom: 80px;
  width: 30%;
}

.features__item--type-2 .features__title  {
  font-family: 'PT Sans Bold';
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  color: #000;
  margin: 0;
  margin-bottom: 31px;
}

.features__item--type-2 .features__text {
  font-family: 'PT Sans Normal';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 32px;
}

.features__item--type-2 .features__number {
  position: relative;
  padding: 0 20px;
  color: #333333;
}

.features__item--type-2 .features__number::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.features__item--type-2 .features__number::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.features__item--icon-house::before {
  content: '';
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url('../img/icon-house.svg');
  background-repeat: no-repeat;
}

.features__item--icon-food::before {
  content: '';
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url('../img/icon-burger.svg');
  background-repeat: no-repeat;
}

.features__item--icon-gift::before {
  content: '';
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url('../img/icon-gift.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.features__item--type-2 .features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item--type-3 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 30%;
  z-index: 3;
}

.features__item--type-3 .features__title  {
  font-family: 'PT Sans Bold';
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  color: #000;
  margin: 0;
  margin-bottom: 31px;
}

.features__item--type-3 .features__text {
  font-family: 'PT Sans Normal';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 32px;
}

.features__item--type-3 .features__number {
  position: relative;
  padding: 0 20px;
  color: #333333;
}

.features__item--type-3 .features__number::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.features__item--type-3 .features__number::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.features__item--type-3 .features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- features-sublist --- */*/

/* --- features --- */

/* --- search --- */

.search__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__text {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.search__text--big {
  font-family: 'PT Sans Bold';
  font-size: 30px;
  margin-top: 57px;
}

.search__text--narrow {
  line-height: 20px;
}

.button--search {
  display: inline-block;
  background-color: #766357;
  font-family: 'PT Sans Bold';
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  padding: 35px 140px;
  margin-top: 53px;
}

.button--search:hover {
  background-color: #604e43;
}

.button--search:active {
  color: #857871;
  background-color: #503e33;
}

/* --- search --- */

/* --- filter --- */

.filter__content {
  background-image: url('../img/sedona-blur.jpg');
  background-size: cover;
  padding: 32px 0;
}

.filter__content .filter__label {
  font-family: 'PT Sans Normal';
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.filter__selection, .filter__price, .filter__sort {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__selection--type-1 {
  display: flex;
  flex-direction: column;
}

.filter__selection--type-1 .filter__caption {
  font-family: 'PT Sans Bold';
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.filter__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.filter__checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  left: 8px;
  z-index: 9000;
  opacity: 0;
}

.filter__label:active .filter__inner {
  outline: 0;
  color: #81b3d2;
  box-shadow: 0 0 0px 3px #81b3d3;
  border-radius: 5px;
}

.filter__check {
  margin: 10px;
  margin-left: -10px;
  position: relative;
  z-index: 0;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
}

.filter__checkbox:checked+.filter__check {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23fff' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.filter__submit {
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 11px 0;
  padding-left: 34px;
  padding-right: 27px;
  color: #fff;
  text-transform: uppercase;
}

.filter__submit:hover {
  background-color: #fff;
  color: #000;
}

.filter__row {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.filter__column:nth-child(2) {
  margin-left: 116px;
}

.filter__column:last-child {
  margin-left: auto;
}

.filter__price {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/* --- filter --- */

/* --- price --- */

.price__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price__caption {
  font-family: 'PT Sans Bold';
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* --- price --- */

/* --- sort --- */

.sort.filter__sort {
  display: flex;
  align-items: center;
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.sort__row {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sort__type {
  width: 100%;
  border: none;
}

.sort__text {
  font-family: 'PT Sans Bold';
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
  margin-right: 50px;
}

.sort__wrap {
  display: flex;
}

.sort__caption {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}

.sort__list {
  margin: 0;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  display: flex;
}

.sort__item {
  margin: 0;
  margin-right: 32px;
}

.sort__link {
  border-bottom: 1px dotted #81b3d2;
  color: #cacaca;
  text-transform: uppercase;
  text-decoration: none;
}

.sort__link:hover {
  color: #81b3d2;
}

.sort__link:active, .sort__link:focus, .sort__link:focus-within {
  color: #000;
  border-bottom: none;
}

.sort__link--active {
  border-bottom: none;
  color: #81b3d2;
}

.sort__button-group {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.sort__button {
  margin: 0;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.sort__button--up:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3E%3Cpath fill='%23231F20' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.sort__button--down:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3E%3Cpath fill='%23231f20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.sort__button--up:active, .sort__button--up:focus, .sort__button--up:focus-within {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3E%3Cpath fill='%2381b3d2' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.sort__button--down:active, .sort__button--down:focus, .sort__button--down:focus-within {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3E%3Cpath fill='%2381b3d2' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.sort__button--up {
  margin-right: 3px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23cacaca' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.sort__button--down {
  margin-left: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3E%3Cpath fill='%23cacaca' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

/* --- sort --- */

/*search*/

.main__search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* --- hotels --- */

.hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels__item {
  border-bottom: 1px solid #eeee;
  padding: 30px 0;
}

.hotels__row {
  display: flex;
}

.hotels__pic {
  margin-right: 30px;
}

.hotels__img {
  display: block;
}

.hotels__title {
  font-family: 'PT Sans Bold';
  font-size: 21px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.hotels__title:hover {
  color: #81b3d2;
}

.hotels__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels__type, .hotels__price {
  color: #333;
  text-transform: uppercase;
}

.hotels__type {
  margin-right: 40px;
}

.hotels__link-group {
  display: flex;
}

.hotels__link {
  color: #fff;
  font-family: 'PT Sans Bold';
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 19px;
  padding-top: 5px;
  padding-bottom: 5px
}

.hotels__link--more {
  margin-right: 6px;
  background-color: #81b3d2;
}

.hotels__link--more:hover, .hotels__link--more:focus {
  background-color: #669ec0;
}

.hotels__link--more:active {
  color: #88b6d1;
}

.hotels__link--book {
  background-color: #766357;
}

.hotels__link--book:hover, .hotels__link--book:focus {
  background-color: #604e43;
}

.hotels__link--book:active {
  color: #857871;
}

/* --- hotels --- */

/* --- rating ---*/

.hotels__rating {
  margin-left: auto;
  min-height: 90px;
}

.rating__row {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.rating__count {
  display: block;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 13px;
  color: #666;
  text-transform: uppercase;
}

.rating__star-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: auto;
}

.rating__star {
  margin: 0 2px;
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17'%3E%3Cpath fill='%2381B3D2' d='M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z'/%3E%3C/svg%3E");
}

/* --- rating ---*/

/* --- footer --- */
.page__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.footer__text {
  color: #000;
  font-size: 21px;
  font-family: 'PT Sans Bold';
  text-transform: uppercase;
}

.footer__social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.social-list__item {
  margin-right: 3px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  font-size: 0;
}

.social-list__link:last-child {
/*  margin-right: 0;*/
}

.social-list__link:hover {
  background-color: #669ec0;
}

.social-list__link:active {
  background-color: #5496bd;
}

.social-list__link--icon svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.social-list__link:active path {
  fill-opacity: 0.5;
}

.footer__link {
  display: inline-block;
  width: 116px;
  height: 41px;
  vertical-align: middle;
  font-size: 0;

}

.footer__copy {
  text-transform: uppercase;
}

.footer__link :hover {
  fill: #81b3d2;
}

.footer__link .svg-html:active {
  fill: #81b3d2;
}

/* --- footer --- */
